body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}

.header {
    background: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.main-container {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
}

.hero {
    flex: 1;
    background: #1F2937;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.hero-container {
    background: #1F2937;
    padding: 50px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: #F9FAF8;
    width: 400px;
    gap: 0.25rem;
    padding-bottom: 4px;
    padding-right: 32px;
    display: flex;
    flex-flow: column wrap;
    align-items: baseline;
}

h1 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 900;
}

.hero-p {
    margin: 8px 0 8px 0;
    color: #E5E7EB;
    font-size: 18px;
}

.hero img {
    max-width: 400px;
  }

button a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: 800;
    font-size: 18px;
    padding: 8px 16px;
}

button {
    background: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.places {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.places-container{
    padding: 50px 0 50px 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city {
    gap: 0.5rem;
    padding: 36px;
    max-width: 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.city img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.city-text {
    color: #1F2937;
    text-align: center;
    font-size: 18px;
}

.quotes {
    flex: 1;
    background: #E5E7EB;
    color: #1F2937  ;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.author {
    align-self: flex-end;
    font-weight: 800;
    font-size: 18px;
}

.sign-in {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sign-in-container {
    margin: 25px auto;
    padding: 25px 75px;
    background: #3882F6;
    border: none;
    border-radius: 16px;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.know-us h4, .know-us p {
    margin: 0;
    max-width: 500px;
}

.know-us h4{
    font-weight: 800;
    font-size: 18px;
}

.know-us p {
    font-size: 18px;
}

.know-us {
    width: 550px;
}

.sign-in button {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 16px;
}

.footer {
    background: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
}